@media (max-width: 900px) {
  .subpage-title {
    text-align: center;
  }

  .section-data {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-macro {
  grid-template-columns: 1fr;
  padding: 0.5rem 0 5rem;
}

.macro-col-1 {
  display: none;
}

}