/* COLORS */
:root {
  --light-grey: #eeeeee;
  --medium-grey: #dedcdc;
  --darker-grey: #e1dede;

  --light-green: #58C4A7;

  --youtube-color: #FF0000;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  float: right;
 }

/* Remove Arrows/Spinners form inputfields */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: auto;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: -moz-hidden-unscrollable;
}

/* ALL PAGE CONTAINER */
.wrapper{
  display: grid;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

/* TOP-BAR TITLE */
.subpage-title{
  padding: 1rem 2rem;
  background-color: #212120;
  color: #fff;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}


/* WELCOME SUBTITLE */
.subtitle p{
  padding: 10rem;
  text-align: center;
  font-size: 22px;
  border-bottom: 1px solid var(--medium-grey);
  letter-spacing: 0.5px;
}


/* SECTION DATA-INPUT */
.section-data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5rem 1.5rem;
  gap: 2rem;
  width: 100%;
}

.gender-select,
.input-data,
.output-data,
.work-performed,
.btn-metric {
  display: grid;
  gap: 10px;
  margin-bottom: 1rem;
}

input,
select,
.btn-metric button {
  padding: 0.8rem 1rem;
  font-size: 18px;
  letter-spacing: 0;
  width: 100%;
  cursor: pointer;
}

select {
  border-radius: 5px;
  border: 1px solid var(--darker-grey);
  background-color: var(--darker-grey);
}

label{
  font-size: 1.2rem;
}

input {
  border-color: var(--medium-grey);
  border-width: 0 0 1px;
}

.output{
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding: 0.8rem 1rem;
}

.btn-metric button{
  background-color: #fff;
  border: 1px solid var(--light-green);
  color: var(--light-green);
}


/* MACROELEMENTS OUTPUT */
.section-macro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem 1.5rem 5rem;
  width: 100%;
}

.macro-col-1 {
  display: grid;
  justify-content: center;
}

.macro-col-2 {
  display: grid;
  justify-content: center;
}

.table-container {
  display: grid;
}

.table-title{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10px;
}

.kcal-preference {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.kcal-btn{
  display: flex;
  cursor: pointer;
  border: none;
  background: none;
}

.kcal-btn svg {
  font-size: 28px;
  color: var(--light-green);
}

.table-output {
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding: 0.2rem 2.2rem;
  text-align: center;
  width: 100px;
}

.table-section{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2px 0;
  border-bottom: 1px solid #d1caca;
  width: 438px;
}

.table-equation{
  font-weight: bold;
}

.table-equation,
.table-unit{
  text-align: end;
}

.data-info{
  text-align: center;
  font-size: 0.8rem
}


/* SECTION INFO */
.section-info {
  display: grid;
  gap: 20px;
  padding: 3rem 3rem 5rem;
  border-top: 1px solid var(--medium-grey);
  margin-top: 5rem;
}

.section-info h1 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 2.2rem;
  color: var(--light-green)
}

.section-info p {
  letter-spacing: 1px;
  line-height: 22px;
}


/* FOOTER */
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  letter-spacing: 1.2px;
  text-align: center;
  padding: 3rem;
  background-color: #eeeeee;
  font-size: 0.8rem;
}

.footer-logos{
  display: flex;
  gap: 1.8rem;
  font-size: 1.8rem;
}

.linkedin-icon{
  color: #0077b5;
}

.telegram-icon{
  color: #0088cc;
}

.github-icon{
  color: #212120;
}

.btc-logo {
  color: #ffd700;
}

.facebook-icon,
.instagram-icon,
.github-icon,
.youtube-icon{
  cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  .subpage-title {
    text-align: center;
  }

  .section-data {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-macro {
    grid-template-columns: 1fr;
    padding: 0.5rem 0 5rem;
  }

  .macro-col-1 {
    display: none;
  }

}

@media (max-width: 670px) {
  .subtitle p {
    display: none;
  }

  .data-info {
    padding: 1rem;
  }

  .footer {
    display: grid;
    justify-content: center;
    gap: 10px;
  }

  .footer-logos {
    justify-content: center;
  }
}
