
/* Remove Arrows/Spinners form inputfields */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: auto;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

html {
  scroll-behavior: smooth;
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

.container{
  margin: 0 auto;
  padding: 0 1.5rem;
}

.grid{
  display: grid;
}

.grid-col-1{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.grid-col-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 2.4rem;
}

.subpage-title{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #212120;
  color: #fff;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  width: 100%;
}

.subtitle p{
  padding: 10rem;
  text-align: center;
  font-size: 22px;
}

label{
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

input,
select,
button,
.output{
  padding: 0.8rem 1rem;
  font-size: 18px;
  letter-spacing: 0;
}

select, .output {
  border-radius: 5px;
}

input, 
.output{
  border-color: #dedcdc;
}

input{
  border-width: 0 0 1px;
}

select{
  border: 1px solid #e1dede;
  background-color: #e1dede;
}

.output{
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
}

button{
  background-color: #fff;
  border: 1px solid #58C4A7;
  color: #58C4A7;
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}

.data-info{
  text-align: center;
  font-size: 0.8rem
}

.form{
  padding-top: 4rem;
  border-top: 1px solid #58C4A7;
  border-bottom: 1px solid #eeeeee;
}

.content-info{
  display: flex;
  flex-direction: column;
}

.content-info h1{
  text-align: center;
  margin-bottom: 3rem;
  color: #58C4A7;
  font-weight: 500;
  font-size: 2.6rem;
}

.content-info p{
letter-spacing: 0.2px;
line-height: 1.6rem;
}

.content-info,
.data-info{
  margin: 7rem 0;
}

.table-title{
  margin-bottom: 10px;
}

.makro-table{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.table-section{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2px 0;
  border-bottom: 1px solid #d1caca;
  width: 438px;
}

.table-equation{
  margin: 0 25px;
}

.table-unit{
  text-align: center;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  letter-spacing: 1.2px;
  text-align: center;
  padding: 3rem;
  background-color: #eeeeee;
  font-size: 0.8rem;
}

.footer-logos{
  display: flex;
  gap: 1.8rem;
  font-size: 1.8rem;
}

.facebook-icon{
  color: #4267B2;
}

.instagram-icon{
  color: #fb3958;
}

.github-icon{
  color: #212120;
}

.youtube-icon{
  color: #FF0000;
}

.facebook-icon,
.instagram-icon,
.github-icon,
.youtube-icon{
  cursor: pointer;
}
