
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  background-color: rgb(217, 85, 80);
  height: 100vh;
  padding: 5rem 0;
}

.grid{
  display: grid;
}

.grid-col-1{
  display: grid;
  gap: 0.75rem;
  align-items: center;
}

.input-card{
  margin: 0 auto;
  max-width: 500px;
  padding: 0 2.8rem;
  display: grid;
  height: 600px;
}

.title-card{
  margin: 1.2rem 0 0;
}

.title-card h2{
  margin-bottom: 0.4rem;
  color: #008ccc;
}

.title-card p{
  color: #6f6f6f;
}

.result-board{
  margin: 2rem auto 3rem;
  padding: 2rem 4rem;
  border: 1px solid;
  border-radius: 0.5rem;
}